<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css" />
    <title>Condensation</title>
</head>
<body>
    <nav class="navbar">
        <div>
            <img class="logo" src="https://cdn.discordapp.com/attachments/663490535402504225/969665723951632415/Untitled_design_2.png"/><div id="page-title">CONDENSATION</div>
            <a href="/games">Game Library</a> |
            <a href="/games/new">Add New Game</a>
        </div>
    </nav>
    <div id="page-container">
        <div class="index-body">
            <% for(let i = 0; i < games.length; i++) { %>
                <% const game = games[i] %>
                    <div>
                        <ul class="games">
                            <li class="game">
                                <p><a href="/games/<%= game._id %>"><img id="index" src="<%= game.image %>" alt="<%= game.name %>"/> </p></a> </li>
                        </ul>
                    </div>
            <% } %>
        </div>
        <footer>
            <div class="footer">
                <img class="logo" src="https://cdn.discordapp.com/attachments/663490535402504225/969665723951632415/Untitled_design_2.png"/> @ 2022 Jonathan & Megan, Inc.
            </div>
        </footer>
    </div>
</body>
</html>