<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css" />
    <title>Game Index</title>
</head>
<body>
    <section>
        <h1>All Games</h1>
    </section>
    <div>
        <% for(let i = 0; i < games.length; i++) { %>
            <% const game = games[i] %>
            <div>
                <ul class="games">
                    <li class="game"><a href="/games/<%= game._id %>"><%= game.title %></a>
                    <p> <img src="<%= game.image %>" alt="<%= game.name %>"/> </p> </li>
                </ul>
            </div>
        <% } %>
    </div>
</body>
</html>