<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css" />
    <title>Condensation</title>
</head>
<body>
    <nav class="navbar">
        <div>
            <div id="title">CONDENSATION</div>
            <a href="/games">Game Library</a> |
            <a href="/games/new">Add New Game</a>
        </div>
    </nav>
    <section>
        <h1>Condensation</h1>
    </section>
    <div>
        <% for(let i = 0; i < games.length; i++) { %>
            <% const game = games[i] %>
            <div>
                <ul class="games">
                    <li class="game">
                    <p><a href="/games/<%= game._id %>"><img id="index" src="<%= game.image %>" alt="<%= game.name %>"/> </p></a> </li>
                </ul>
            </div>
        <% } %>
    </div>
</body>
</html>