<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css" />
    <title>Add New Game</title>
</head>
<body>
    <nav class="navbar">
        <div>
            <a href="/games">Game Library</a>
            <a href="/games/new">Add New Game</a>
        </div>
    </nav>
    <h1>New Game</h1>
    <form method="POST" action="/games">
        <div>
            <label for="title"> Game Title: </label>
            <input id="title" name="title" type="text" />
        </div>
        <div>
            <label for="release"> Game Release: </label>
            <input id="release" name="release" type="text" />
        </div>
        <div>
            <label for="image"> Game Image: </label>
            <input id="text" name="image" type="text"/>
        </div>
        <div>
            <label for="price"> Game Price: </label>
            <input id="number" name="price" type="text"/>
        </div>
        <input type="submit" value="Create new game">
    </form>

    <footer>
        <div class="footer">
            <img class="logo" src="https://cdn.discordapp.com/attachments/663490535402504225/969665723951632415/Untitled_design_2.png"/> @ 2022 Jonathan & Megan, Inc.
        </div>
    </footer>
</body>
</html>