<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>New Review Page</h1>
    <form action="/reviews" method="POST">
        <label>
            Rating (Number)
            <input type="number" name="rating"/>
        </label></br>
        <label>
            Your Review (String)
            <input type="string" name="content"/>
        </label><br/>
        <label>
            Related Game
            <select name="game">
                <% for (let i = 0;i<games.length;i++){%>
                    <option value="<%=games[i]._id%>"><%=games[i].title%></option>
                <%}%>
            </select>
        </label><br/>
        <input type="submit" value="create review"/>
    </form>
</body>
</html>