<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Review Show Page</h1>
    <p>Product: <%allReviews.game.title%></p>
    <a href="/games/<%allReviews.game._id%>">Find more information about <%=allReviews.game.title%></a>
</body>
</html>