img {
    width: 20vw;
    height: 25vw;
}

img:hover {
    border-radius: 10%;
    opacity: 20%;
}

body {
    background-color: #230e42;
    color: azure;
    font-family: 'Raleway', sans-serif;
}

ul {
    list-style-type: none;
}

.games {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    float: left;
    padding: 25px;
    line-height: 20%;
}

a {
    color: aliceblue;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #4d3369;
    color: white;
}

#title {
    font-size: 36px;
}