img {
    width: 20vw;
    height: 25vw;
    border-radius: 5%;
}

img:hover {
    transform: scale(1.2);
}

body {
    background-color: #230e42;
    color: azure;
    font-family: 'Raleway', sans-serif;
}

ul {
    list-style-type: none;
}

.games {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    float: left;
    padding: 25px;
    line-height: 20%;
    margin: 10px;
}

a {
    color: aliceblue;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #4d3369;
    color: white;
}

#title {
    font-size: 36px;
}